<div class="backdrop">
  <img class="bg" src="http://www.designsnext.com/wp-content/uploads/2014/02/contemporary-kitchen-designs-5.jpg">
  <div id="main"></div>
</div>
<div id="content"></div>
<script>$(TrelloClone.initialize);</script>
