/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

#content {
  margin: 50px 0 0 0;
}

div {
  padding: 0;
  margin: 0;
}

img.bg {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
}

ul {
  padding: 0;
  margin: 10px;
}

li {
  list-style: none;
}

.lists > div > li {
  background: #DCDCDC;
  border: 1px solid #EEF3F6;
  border-radius: 5px;
  width: 200px;
  position: relative;
  margin: 10px 5px;
}

.cards > div {
  width: 100%;
}

.hidden {
  display: none;
}

div.card-buttons {
  float: right;
  top: 0;
  right: 0;
}

div.card-buttons > button {
  background: none;
  border: none;
}

.cards > div > li {
  background: #fff;
  border: #D2D2D2;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

button.add-card {
  display: block;
  background: none;
  border: none;
  padding: 2px;
}

button.add-card:hover {
  color: orange;
}

li {
  float: left;
}
