<li>
  <div class="card-buttons">
    <button class="edit-card">✎</button>
    <button class="delete-card">X</button>
  </div>
  <h4><%= card.escape('title') %></h4>
  <p><%= card.escape('description') %></p>
  <ul class="items">
  </ul>
  <ul class="users">
  </ul>
</li>